*{
    padding:none;
    margin:0;
  }
  body{
    background-color:rgba(65,77,79,255);
  }
  .top{
  background-color:rgba(85,155,154,1);
  }
  header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:2%;
    padding-bottom:1.5%;
    font-size:1rem;
    color:white;
    font-family:'noto serif',sans-serif;
    padding-left:50px;
    padding-right:50px;
    border-bottom:0.3rem solid white;
    
  }
  header h1{
  font-size:6vh;
  }
  ul{
  display:flex;
  }
  ul a{
  display:inline-block;
  padding: 0 30px;
  transition:0.4s;
  font-size:4.5vh;
  text-decoration: none;
color:white;
  }
  ul a:hover{
  text-shadow:4px 4px 0px black;
  transform:translateY(-7px);
  transform:translateX(-7px);
  cursor:pointer;
  transition:0.4s;
  }
  header i{
  font-size:2.5rem;
  color:black;
  transition:0.4s;
  }
  header i:hover{
  font-size:2.7rem;
  color:white;
  transition:0.4s;
  cursor:pointer;
  
  }
  
  main{
    text-align:center;
    color:white;
  }
  .mainTit{
    margin-top:2%;
    font-size:7vh;
  }
  .description{
    width:50%;
    margin:0 auto;
    margin-top:2%;
    font-size:2.5vh;
    line-height:6.5vh;
  }
  .faq{
    width:50%;
    height:auto;
    padding:5%;
    background-color:whitesmoke;
    border-radius:5%;
    margin-top:3%;
    margin-bottom:2%;
    margin-left:8%;
    border:1rem solid black;
  }
  .faq h1{
    color:black;
    text-align:left;
    font-family:'noto serif',sans-serif;
    margin-bottom: 5%;
    font-size:5vh;
  }
  
  .instruct{
    display:flex;
    flex-wrap: wrap;
  }
  
  .step img{
    width:60vh;
    height:25rem;

  }
  
  
  .step p{
    color:black;
    text-align:center;
    margin:0 auto;
    padding-bottom:2%;
    font-size:2vh;
    font-family:'cabin',sans-serif;
    margin-bottom: 3%;
  }
  
  i{
    color:black;
    margin-left:4%;
    margin-right:2%;
    margin-top:12%;
    font-size:5vh;
  }
  
  
